In [3]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.2f' % x)
import numpy as np
np.set_printoptions(formatter={'float': lambda x: "{0:0.2f}".format(x)})
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.cluster import KMeans
import os 
PATH = os.getcwd()

In [4]:
csv_files = [file for file in os.listdir(PATH) if file.endswith("csv")]
csv_files

['spanish_phrases.csv', 'spanish.csv', 'words_to_learn.csv']

In [5]:
df = pd.read_csv("spanish_phrases.csv")
df.head()

                       Spanish                                 English
0                          as�                    like that / that way
1                       Es as�                        It is like that.
2                    No es as�                    It is not like that.
3            No es posible as�            It is not possible that way.
4  No es aceptable para m� as�  It is not acceptable for\nme that way.

In [6]:
df.describe()

       Spanish          English
count      248              248
unique     230              231
top          ?  to do / to make
freq         6                2

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Spanish  248 non-null    object
 1   English  248 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB